body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 2fr 4fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px
  
}
  .item1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;
}
.item2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  grid-column: 2/4;
  grid-row: 1/3;
}
.item3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  grid-column: 4/5;
  grid-row: 1/5;
}
.item4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  grid-column: 5/6;
  grid-row: 1/2;
}
.item5{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  grid-column: 1/2;
  grid-row: 2/5;
}
.item6{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  grid-column: 5/6;
  grid-row: 2/3;
}
.item7{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  grid-column: 1/2;
  grid-row: 3/4;
}
.item8{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  grid-column: 2/3;
  grid-row: 3/4;
}

.item9{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  grid-column: 3/4;
  grid-row: 3/4;
}
.item10{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  grid-column: 5/6;
  grid-row: 3/4;
}
.item11{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
  grid-column: 1/4;
  grid-row: 4/5;
}
.item12{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(123, 190, 78, 0.452);
  grid-column: 5/6;
  grid-row:4/5
}